// Reset CSS
* {
  box-sizing: border-box;
}

html,
body {
  width: 100dvw;
  height: 100dvh;

  margin: 0;
  padding: 0;

  background-color: #1E1F22;
}

body {
  padding: 8px;

  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0
}

p {
  margin: 0
}

ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

a {
  text-decoration: none;
}

a,
button {
  margin: 0;
  padding: 0;

  cursor: pointer;
}

.mg-5 {
  margin: 5px;
}

// Generics
button {
  &.btn {
    font-weight: bolder;
  }

  &.btn-primary {
    height: 44px;
    padding: 0 12px;

    background-color: #C2F76C;
    border-radius: 4px;
    border: none;

    color: #101010;
    font-size: 16px;
  }
}

input {
  width: 100%;
  height: 48px;

  padding: 0 12px;

  background-color: #1E1F22;
  border-radius: 4px;
  border: none;

  font-size: 16px;

  &::placeholder {
    font-size: 16px;
  }
}

.viewport {
  position: relative;

  display: flex;
  gap: 12px;
  height: 100%;
  width: 100%;
}

.container {
  font-family: Arial, sans-serif;
  background-color: #000;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.loginBox {
  background-color: #121212;
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.button {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  background-color: #007aff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

#privateKeyInput {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo para la barra lateral */
.sidebar {
  overflow: hidden;

  display: flex;
  flex-direction: column;
  width: 240px;
  height: 100%;
  
  background-color: #2B2D31;
  border-radius: 8px;

  color: #fff;

  .community {
    display: flex;
    align-items: center;
    height: 48px;
    
    padding: 0 12px;

    background-color: #3D06A7;
    border-bottom: 1px solid #232428;
    box-shadow: 0 1px 5px 0 #232428;

    h1 {
      font-size: 16px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 4px;

    padding: 0 12px;

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      padding-left: 8px;
      margin-top: 24px;

      &:first-child {
        margin-top: 12px;
      }

      h3 {
        font-size: 12px;
        text-transform: uppercase;
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 34px;
        height: 34px;

        background-color: transparent;
        border-radius: 4px;
        border: none;
      }
    }

    li {
      border-radius: 4px;
      
      &.active {
        background-color: #404248;
      }

      button {
        width: 100%;
        height: 34px;

        padding: 0 12px;

        background-color: transparent;
        border: none;
        
        text-align: left;

        &:hover {
          background-color: #404248;
        }
      }
    }
  }

  .welcome {
    display: flex;
    flex-direction: column;
    gap: 12px;

    padding: 24px 12px;

    div {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    h3 {
      font-size: 22px;
      text-align: center;
    }

    p {
      text-align: center;
    }
  }
}

/* Estilo para el contenido principal */
.content {
  position: relative;
  overflow: hidden;

  width: 100%;
  height: 100%;
  flex: 1;

  background-color: #313338;
  border-radius: 8px;
}

.channel-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 48px;

  padding: 0 24px;

  border-bottom: 1px solid #232428;
  box-shadow: 0 1px 5px 0 #232428;
}

.messages {
  position: relative;
  overflow-y: scroll;

  height: calc(100% - 116px);
}

.message-input {
  height: 68px;
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 0 24px;

  background-color: #313338;
}

/* Estilo para los mensajes */
.messages {
  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: 12px;

  padding: 12px 0;
}

.message {
  display: flex;
  align-items: flex-start;
  gap: 8px;

  padding: 0 24px;

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .message-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .message-heading {
    display: flex;
    gap: 4px;
  }

  .message-author {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .message-date {
    color: #666;
  }

  // .message-content {
  // }
}

// Modal
.modal {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, .9);

  .modal-content {
    overflow: hidden;

    width: 100%;
    max-width: 440px;

    background-color: #313338;
    border-radius: 8px;
  }

  .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 48px;

    padding: 0 12px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 34px;
      height: 34px;

      background-color: transparent;
      border-radius: 4px;
      border: none;
    }
  }

  .modal-body {
    padding: 24px
  }

  footer {
    display: flex;
    justify-content: end;
    gap: 8px;

    padding: 24px;

    background-color: #2B2D31;

    button {
      min-width: 100px;
    }
  }
}

// Inputs
.input-group {
  display: flex;
  flex-direction: column;
  gap: 8px;

  label {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bolder;
  }
}

/* test */
/** *     GLOBAL      * **/
:root {
  --background: #ebebeb;
  --background-box: #ffffff;
  --border-color: #ecf0f4;
  --text-color: #000000;
  --secondary-text-color: #646464;
  --action-button: #000000;
  --primary-color: #0053b3;
  --primary-color-hover: #007aff;
  --primary-color-bg: #007aff25;
  --active-element: #007aff5e;
  --disabled-element: #51596c;
  --success-color: #026431;
  --success-color-bg: #02643122;
  --error-color-bg: #ae3e3e1a;
  --error-color: #ae3e3e;
  --hover-element-list: #98a7b7;
  --progress-bar-bg: #ecf0f4;
  --box-shadow: 0px 0px 16px rgba(17, 17, 26, 0.1);
  --action-button-svg: #ffffff;
  --background-opacity: #c6c6c69c;
}

[data-theme="dark"] {
  --background: #0c0c0c;
  --background-box: #151515;
  --border-color: #28282b;
  --text-color: #ffffff;
  --secondary-text-color: #a1a1a1;
  --action-button: #1c1c1e;
  --primary-color: #0053b3;
  --primary-color-hover: #007aff;
  --primary-color-bg: #007aff25;
  --active-element: #003b7c;
  --success-color: #02f19d;
  --success-color-bg: #02f19d11;
  --error-color-bg: #ae3e3e1a;
  --error-color: #ae3e3e;
  --hover-element-list: #1c1c1e;
  --progress-bar-bg: #1e1e1e;
  --box-shadow: 0px 0px 16px rgba(17, 17, 26, 0.1);
  --action-button-svg: #808080;
  --background-opacity: #0000009c;
}
// * {
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
// }
// body {

//   overscroll-behavior: contain;
//   -ms-scroll-chaining: none;
//   overscroll-behavior: contain;
// }

// body::-webkit-scrollbar {
//   width: 5px;
//   background-color: #1c1c1e;
// }

// .simplebar-wrapper {
//   display: contents !important;
// }

// .notFilteredData {
//   text-align: center;
//   display: block;
// }

// @media screen and (min-width: 768px) {
//   .notFilteredData {
//     padding: 20px;
//   }
// }

// /** *     CONTAINERS      * **/
// .wrapper {
//   padding: 16px;
//   height: 100vh;
// }

// .motionContainer {
//   margin: 0 auto;
//   width: 100%;
//   -ms-grid-column: 1;
//   -ms-grid-column-span: 4;
//   grid-column: 1/5;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   -ms-flex-flow: column;
//   flex-flow: column;
//   max-height: 100vh;
//   height: 100%;
//   overflow-x: hidden;
// }

// .motionContainer > * {
//   max-width: 700px;
//   margin-left: auto;
//   margin-right: auto;
//   width: 100%;
// }

// @media screen and (min-width: 1024px) {
//   .wrapper {
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     padding: 0;
//     gap: 0;
//   }

//   .motionContainer {
//     padding: 32px;
//     height: 100vh;
//     position: relative;
//   }
// }

// @media screen and (min-width: 1200px) {
//   .motionContainer > * {
//     max-width: 900px;
//   }
// }

/** *     PAGES STYLES      * **/
// .main {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -ms-grid-column: 1;
//   -ms-grid-column-span: 4;
//   grid-column: 1/5;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   width: 100%;
//   height: 100%;
//   margin: 3rem auto 0;
// }

// .mainPage {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -ms-grid-column: 1;
//   -ms-grid-column-span: 4;
//   grid-column: 1/5;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   width: 100%;
//   height: 100%;
// }

// .mainHome {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -ms-grid-column: 1;
//   -ms-grid-column-span: 4;
//   grid-column: 1/5;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   width: 100%;
//   height: 100%;
//   overflow: hidden;
// }

// .bannersContainer {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   margin: auto;
// }

// .btnsContainer {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   gap: 12px;
//   width: 100%;
// }

// @media screen and (min-width: 1024px) {
//   .main {
//     display: -webkit-box;
//     display: -ms-flexbox;
//     display: flex;
//     -webkit-box-orient: vertical;
//     -webkit-box-direction: normal;
//     -ms-flex-direction: column;
//     flex-direction: column;
//     gap: 8px;
//     max-height: 870px;
//     width: 100%;
//   }

//   .bannersContainer lord-icon {
//     height: 250px !important;
//     width: 250px !important;
//   }
// }

// /** *     INPUTS      * **/
// .inputsContainer {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-orient: vertical;
//   -webkit-box-direction: normal;
//   -ms-flex-direction: column;
//   flex-direction: column;
//   gap: 8px;
// }

// .input {
//   width: -webkit-fill-available;
//   width: -moz-available;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   padding: 12px;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   -webkit-box-pack: justify;
//   -ms-flex-pack: justify;
//   justify-content: space-between;
//   font-size: 14px;
//   line-height: 20px;
//   background: var(--background-box);
//   border-radius: 4px;
//   gap: 9px;
//   border: 1px solid var(--border-color);
//   -webkit-transition: all 300ms;
//   -o-transition: all 300ms;
//   transition: all 300ms;
//   position: relative;
// }

// .input input {
//   border: none;
//   background: none;
//   color: var(--text-color);
//   font-size: 14px;
//   line-height: 20px;
//   width: -webkit-fill-available;
//   width: -moz-available;
// }

// .input textarea {
//   background: none;
//   border: none;
//   color: var(--secondary-text-color);
//   resize: none;
//   width: 100%;
// }

// .input input::-webkit-input-placeholder,
// .input textarea::-webkit-input-placeholder {
//   color: var(--secondary-text-color);
// }

// .input input::-moz-placeholder,
// .input textarea::-moz-placeholder {
//   color: var(--secondary-text-color);
// }

// .input input:-ms-input-placeholder,
// .input textarea:-ms-input-placeholder {
//   color: var(--secondary-text-color);
// }

// .input input::-ms-input-placeholder,
// .input textarea::-ms-input-placeholder {
//   color: var(--secondary-text-color);
// }

// .input input::-webkit-input-placeholder,
// .input textarea::-webkit-input-placeholder {
//   color: var(--secondary-text-color);
// }

// .input input::-moz-placeholder,
// .input textarea::-moz-placeholder {
//   color: var(--secondary-text-color);
// }

// .input input:-ms-input-placeholder,
// .input textarea:-ms-input-placeholder {
//   color: var(--secondary-text-color);
// }

// .input input::-ms-input-placeholder,
// .input textarea::-ms-input-placeholder {
//   color: var(--secondary-text-color);
// }

// .input input::placeholder,
// .input textarea::placeholder {
//   color: var(--secondary-text-color);
// }

// .input input:focus,
// .input textarea:focus {
//   outline: none;
// }

// .input textarea {
//   background: none;
//   border: none;
//   color: var(--secondary-text-color);
//   resize: none;
//   width: 100%;
//   height: 200px;
// }

// .inputError {
//   border-color: var(--error-color);
// }

// .input:hover {
//   border-color: var(--primary-color);
// }

// .input:focus-within {
//   border-color: var(--primary-color);
// }

// .inputError:hover,
// .inputError:focus-within {
//   border-color: var(--error-color);
// }

// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//   -webkit-appearance: none;
//   margin: 0;
// }

// input[type="number"] {
//   -webkit-appearance: textfield;
//   appearance: textfield;
//   -moz-appearance: textfield;
// }

// /*  Heading: Mobile version*/
// h1 {
//   font-size: 36px;
//   line-height: 44px;
// }

// h2 {
//   font-style: normal;
//   font-weight: 700;
//   font-size: 32px;
//   line-height: 40px;
// }

// h3 {
//   font-size: 28px;
//   line-height: 36px;
// }

// h4 {
//   font-size: 24px;
//   line-height: 32px;
// }

// h5 {
//   font-size: 20px;
//   line-height: 28px;
//   margin: 0;
// }

// h6 {
//   font-size: 18px;
//   line-height: 24px;
// }

// /*  Paragraph: Mobile version   */
// .p-large {
//   font-size: 18px;
//   line-height: 28px;
// }

// .p-medium {
//   font-size: 16px;
//   line-height: 24px;
// }

// .p-small {
//   font-size: 14px;
//   line-height: 20px;
// }

// .p-xsmall {
//   font-size: 12px;
//   line-height: 20px;
// }

// /** *     ERRORS      * **/
// .error {
//   color: var(--error-color);
//   font-size: 14px;
//   margin: 0 auto;
// }

// .error p {
//   margin: 0;
//   text-align: center;
// }

// /** *     CHECKBOX      * **/
// [type="checkbox"] {
//   -webkit-appearance: none;
//   -moz-appearance: none;
//   appearance: none;
// }

// [type="checkbox"] {
//   border: 2px solid var(--border-color);
//   border-radius: 30px;
//   position: relative;
//   height: 24px;
//   width: 24px;
//   -webkit-transition: background 0.3s;
//   -o-transition: background 0.3s;
//   transition: background 0.3s;
// }

// [type="checkbox"]:checked {
//   background-color: var(--primary-color);
//   top: 0;
//   left: 0;
//   z-index: 2;
//   border-radius: 30px;
//   bottom: 0;
//   right: 0;
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   border: 2px solid var(--primary-color);
// }

// [type="checkbox"]:checked::before {
//   content: url("/img/Check.svg");
// }

// /** *     CSS TRANSITION      * **/
// .collapsable-enter {
//   opacity: 0;
//   max-height: 0;
//   -webkit-transform: translateY(-20px);
//   -ms-transform: translateY(-20px);
//   transform: translateY(-20px);
// }

// .collapsable-enter-active {
//   opacity: 1;
//   max-height: 800px;
//   -webkit-transform: translateY(0);
//   -ms-transform: translateY(0);
//   transform: translateY(0);
//   -webkit-transition: all 300ms;
//   -o-transition: all 300ms;
//   transition: all 300ms;
// }

// .collapsable-exit {
//   opacity: 1;
//   max-height: 800px;
//   -webkit-transform: translateY(0);
//   -ms-transform: translateY(0);
//   transform: translateY(0);
// }

// .collapsable-exit-active {
//   opacity: 0;
//   max-height: 0;
//   -webkit-transform: translateY(-20px);
//   -ms-transform: translateY(-20px);
//   transform: translateY(-20px);
//   -webkit-transition: all 300ms;
//   -o-transition: all 300ms;
//   transition: all 300ms;
// }

// .alert-enter {
//   opacity: 0;
//   -webkit-transform: scale(0.9);
//   -ms-transform: scale(0.9);
//   transform: scale(0.9);
// }
// .alert-enter-active {
//   opacity: 1;
//   -webkit-transform: translateX(0);
//   -ms-transform: translateX(0);
//   transform: translateX(0);
//   -webkit-transition: all 300ms;
//   -o-transition: all 300ms;
//   transition: all 300ms;
// }
// .alert-exit {
//   opacity: 1;
// }
// .alert-exit-active {
//   opacity: 0;
//   -webkit-transform: scale(0.9);
//   -ms-transform: scale(0.9);
//   transform: scale(0.9);
//   -webkit-transition: all 300ms;
//   -o-transition: all 300ms;
//   transition: all 300ms;
// }

// .fade-enter {
//   opacity: 0;
//   -webkit-transform: translateX(-60px);
//   -ms-transform: translateX(-60px);
//   transform: translateX(-60px);
// }
// .fade-enter-active {
//   opacity: 1;
//   -webkit-transform: translateX(0);
//   -ms-transform: translateX(0);
//   transform: translateX(0);
//   -webkit-transition: opacity 300ms ease-in-out,
//     -webkit-transform 300ms ease-in-out;
//   transition: opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
//   -o-transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
//   transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
//   transition: opacity 300ms ease-in-out, transform 300ms ease-in-out,
//     -webkit-transform 300ms ease-in-out;
// }
// .fade-exit {
//   opacity: 1;
//   -webkit-transform: translateX(0);
//   -ms-transform: translateX(0);
//   transform: translateX(0);
// }
// .fade-exit-active {
//   opacity: 0;
//   -webkit-transform: translateX(60px);
//   -ms-transform: translateX(60px);
//   transform: translateX(60px);
//   -webkit-transition: opacity 300ms ease-in-out,
//     -webkit-transform 300ms ease-in-out;
//   transition: opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
//   -o-transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
//   transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
//   transition: opacity 300ms ease-in-out, transform 300ms ease-in-out,
//     -webkit-transform 300ms ease-in-out;
// }

// /** *     CALENDAR      * **/
// .react-calendar {
//   background: #1c1c1e;
//   border-radius: 13px;
//   margin-top: 1rem;
//   margin-bottom: auto;
//   padding: 1rem;
// }

// .react-calendar--doubleView .react-calendar__viewContainer {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   margin: -0.5em;
// }
// .react-calendar--doubleView .react-calendar__viewContainer > * {
//   width: 50%;
//   margin: 0.5em;
// }
// .react-calendar,
// .react-calendar *,
// .react-calendar *:before,
// .react-calendar *:after {
//   -webkit-box-sizing: border-box;
//   box-sizing: border-box;
// }
// .react-calendar button {
//   margin: 0;
//   border: 0;
//   outline: none;
// }
// .react-calendar button:enabled:hover {
//   cursor: pointer;
// }
// .react-calendar__navigation {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
// }
// .react-calendar__navigation button {
//   background: none;
//   font-style: normal;
//   font-weight: 600;
//   font-size: 20px;
//   line-height: 24px;
//   color: #fff;
// }
// .react-calendar__navigation button:disabled {
//   background-color: #f0f0f0;
// }
// .react-calendar__month-view__weekdays {
//   text-align: center;
//   text-transform: uppercase;
//   font-weight: bold;
//   font-size: 0.75em;
//   margin: 10px 0;
// }
// .react-calendar__month-view__weekdays__weekday,
// abbr[title] {
//   padding: 0.5em;
//   text-decoration: none;
//   font-style: normal;
//   font-weight: 400;
//   font-size: 13px;
//   line-height: 18px;
//   text-align: center;
//   text-transform: uppercase;
//   color: #ebebf599;
// }
// .react-calendar__month-view__weekNumbers .react-calendar__tile {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   font-size: 0.75em;
//   font-weight: bold;
// }
// .react-calendar__month-view__days__day--weekend {
//   color: #d10000;
// }
// .react-calendar__month-view__days__day--neighboringMonth {
//   color: #757575;
// }
// .react-calendar__year-view .react-calendar__tile,
// .react-calendar__decade-view .react-calendar__tile,
// .react-calendar__century-view .react-calendar__tile {
//   padding: 2em 0.5em;
// }
// .react-calendar__tile {
//   max-width: 100%;
//   padding: 10px 6.6667px;
//   background: none;
//   text-align: center;
//   line-height: 16px;
//   color: #fff;
// }
// .react-calendar__tile:disabled {
//   background-color: #f0f0f0;
// }
// .react-calendar__tile:enabled:hover,
// .react-calendar__tile:enabled:focus {
//   background-color: #e6e6e6;
// }
// .react-calendar__tile--now {
//   background: #748393;
// }
// .react-calendar__tile--now:enabled:hover,
// .react-calendar__tile--now:enabled:focus {
//   background: #ffffa9;
// }
// .react-calendar__tile--hasActive {
//   background: #76baff;
// }
// .react-calendar__tile--hasActive:enabled:hover,
// .react-calendar__tile--hasActive:enabled:focus {
//   background: #a9d4ff;
// }
// .react-calendar__tile--active {
//   background: #007aff;
//   color: white;
// }
// .react-calendar__tile--active:enabled:hover,
// .react-calendar__tile--active:enabled:focus {
//   background: #1087ff;
// }
// .react-calendar--selectRange .react-calendar__tile--hover {
//   background-color: #e6e6e6;
// }

// .react-calendar__navigation__arrow.react-calendar__navigation__prev-button {
//   -webkit-box-ordinal-group: 3;
//   -ms-flex-order: 2;
//   order: 2;
//   color: #0a84ff;
//   margin-right: 31px;
// }

// .react-calendar__navigation__arrow.react-calendar__navigation__next-button {
//   -webkit-box-ordinal-group: 4;
//   -ms-flex-order: 3;
//   order: 3;
//   color: #0a84ff;
// }

// .react-calendar__navigation__label {
//   -webkit-box-flex: 0 !important;
//   -ms-flex-positive: 0 !important;
//   flex-grow: 0 !important;
//   margin-right: auto !important;
// }

// [type="radio"] {
//   visibility: hidden;
// }

// .check {
//   display: -webkit-box;
//   display: -ms-flexbox;
//   display: flex;
//   -webkit-box-align: center;
//   -ms-flex-align: center;
//   align-items: center;
//   -webkit-box-pack: center;
//   -ms-flex-pack: center;
//   justify-content: center;
//   border: 2px solid var(--border-color);
//   border-radius: 100%;
//   height: 25px;
//   width: 25px;
//   -o-transition: border 300ms linear;
//   transition: border 300ms linear;
//   -webkit-transition: border 300ms linear;
// }

// .check:hover {
//   border: 2px solid var(--primary-color-hover);
// }

// .check::before {
//   content: "";
//   border-radius: 100%;
//   height: 9px;
//   width: 9px;
//   -o-transition: background 300ms linear;
//   transition: background 300ms linear;
//   -webkit-transition: background 300ms linear;
// }

// [type="radio"]:checked ~ .check {
//   border: 2px solid var(--primary-color);
// }

// [type="radio"]:checked ~ .check::before {
//   background: var(--primary-color);
// }

// .icon-tabler-circle-check {
//   color: var(--success-color);
// }

// .icon-tabler-check {
//   color: var(--success-color);
// }
